@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
    display: grid;
}

@include breakpoint-md {
    .layout {
        grid-template-columns: 5fr 7fr;
    }
}

@include breakpoint-lg {
    .layout {
        grid-template-columns: 1fr 2fr;
    }
}